.CalendarToolbar {
	width: 100%;
	display: flex;
	align-items: center;

	.toolbarSection {
		display: flex;

		&#calendarLabelContainer {
			width: 250px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&#controlsContainer {
			display: flex;
			align-items: center;
			width: 100%;

			#navButtons {
				display: flex;
				margin-left: auto;
				margin-right: 0.5rem;
				button {
					margin: 0.25em;
				}
			}
		}
	}
}
