.CalendarToolbar {
    width: 100%;
    display: flex;
    align-items: center;

    .toolbarSection {
        &#nav-buttons {
            display: flex;
            margin-left: auto;

            button { 
                margin: .5em; 
            }
        }
    }
}