@import "../../variables";

.eventButton {
	border: none;
	color: #fff;
	height: 1.5rem;
	margin: 0.15rem;
	position: relative;
	overflow: clip;

	&.multiDateEventButton {
		background-color: #ea073e;
		border-radius: 0.35rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		z-index: $event-button-z-index;

		&:hover {
			filter: saturate(0.8);
		}

		span {
			float: left;
		}
	}

	&.placeholderEventButton {
		margin: 0;
		width: 100%;
		z-index: $placeholder-event-z-index;
	}
}
