.MultipleDateEvent {
	.eventBtn {
		color: #fff;
		height: 1.5rem;
		margin: 0.15rem;
		position: relative;
		overflow: clip;
		display: flex;
		align-items: center;

		&.multiDateEventBtn {
			background-color: #ea073e;
			border-radius: 0.35rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;

			&:hover {
				filter: saturate(0.8);
			}

			span {
				float: left;
			}
		}

		&.placeholderEventBtn {
			z-index: -1;
		}
	}
}
