.CalendarGridCard {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 12em;
    width: 8em;

    div[id="date-container"] {
        align-items: center;
        display: flex;
        height: 15%;
        justify-content: center; 
        margin-bottom: 1em;
    }

    div[id="card-body"] {
        flex-grow: 2;
    }
}