.SingleDateEvent {
	margin: 0.15rem;

	.content {
		align-items: center;
		border-radius: 0.35rem;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;

		.bullet {
			background-color: #7f0;
			border-radius: 100%;
			display: inline-block;
			height: 0.5rem;
			min-height: 0.5rem;
			min-width: 0.5rem;
			width: 0.5rem;
			margin-right: 0.3rem;
		}

		.eventDetails {
			display: flex;
			overflow: hidden;

			.eventTime {
				margin-right: 0.3rem;
			}
		}

		&:hover {
			&.light {
				background-color: #eee;
			}

			&.dark {
				background-color: #111;
				color: #fff;
			}
		}
	}
}
